<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.orientation.mapper.AdminAdvertiseMapper">

    <sql id="advertiseColumns">
        advertise_id,title,content,type,target_person,key_words,costs,status,location,company,
    company_id,click_number,total_profit,image_video_name</sql>

    <sql id="insertColumns">
        advertise_id,title,content,type,target_person,key_words,costs,status,location,company,
    company_id,add_status,shelves_status
    </sql>

    <!--      //查询所有广告信息-->
    <select id="selectAll" resultType="com.example.orientation.model.po.Admin.AdminAdvertisePo">
        select <include refid="advertiseColumns"></include> from advertise where add_status=1
    </select>


    <!--    //查询某条广告信息-->
    <select id="selectById" resultType="com.example.orientation.model.po.Admin.AdminAdvertisePo">
        select advertise_id, costs, click_number,image_video_name
        from advertise
        where advertise_id = #{id}
    </select>

    <!--    //更新广告点击次数和总盈利-->
    <update id="UpdateClickAndProfit">
        update advertise
        set click_number=#{clicknumber},
            total_profit=#{totalprofit}
        where advertise_id = #{id}
    </update>

    <!--     //更新所有广告的点击次数和总盈利
        int UpdateAllClickAndProfit();-->
    <update id="UpdateAllClickAndProfit"></update>

    <!--    //更新广告状态-->
    <update id="updateAdvertiseStatus">
        update advertise
        set status=#{status}
        where advertise_id = #{id}
    </update>

    <!--    //根据id删除广告-->
    <delete id="deleteAdvertiseById">
        delete
        from advertise
        where advertise_id = #{id}
    </delete>

    <!-- //添加广告-->
    <insert id="insertAdvertise">
        insert into advertise(<include refid="insertColumns"></include>) values
        (#{advertiseId},#{title},#{content},#{type},#{targetPerson},#{keyWords},
        #{costs},#{status},#{location},#{company},#{companyId},#{addStatus},#{shelvesStatus})
    </insert>

    <!--    //修改广告-->
    <update id="updateAdvertise">
        update advertise
        <set>
            <if test="title !=null and title!='' ">title=#{title},</if>
            <if test="content !=null and content!='' ">content=#{content},</if>
            <if test="type !=null and type!='' ">type=#{type},</if>
            <if test="targetPerson !=null and targetPerson!='' ">target_person=#{targetPerson},</if>
            <if test="keyWords !=null and keyWords!='' ">key_words=#{keyWords},</if>
            <if test="costs !=null and costs!='' ">costs=#{costs},</if>
            <if test="location !=null and location!='' ">location=#{location},</if>
            <if test="company !=null and company!='' ">company=#{company},</if>
        </set>
        where advertise_id=#{advertiseId}
    </update>

    <!--    //添加广告头像-->
    <update id="updateToImage">
        update advertise
        set image_video_name=#{uploadImage}
        where advertise_id=#{advertiseId}
    </update>

    <!--    //分页查询-->
    <select id="selectByPage" resultType="com.example.orientation.model.po.Admin.AdminAdvertisePo">
        select <include refid="advertiseColumns"></include> from advertise
    </select>

    <!--    //查询所有广告草稿-->
    <select id="selectAllDraft" resultType="com.example.orientation.model.po.Admin.AdminAdvertisePo">
        select <include refid="advertiseColumns"></include> from advertise where add_status=0
    </select>

    <!--    //添加广告草稿-->
    <insert id="insertAdvertiseDraft">
        insert into advertise(<include refid="insertColumns"></include>) values
        (#{advertiseId},#{title},#{content},#{type},#{targetPerson},#{keyWords},
        #{costs},#{status},#{location},#{company},#{companyId},#{addStatus},#{shelvesStatus})
    </insert>

    <!--    //修改草稿内容并提交-->
    <update id="updateAdvertiseDraft">
        update advertise
        <set>
            <if test="title !=null and title!='' ">title=#{title},</if>
            <if test="content !=null and content!='' ">content=#{content},</if>
            <if test="type !=null and type!='' ">type=#{type},</if>
            <if test="targetPerson !=null and targetPerson!='' ">target_person=#{targetPerson},</if>
            <if test="keyWords !=null and keyWords!='' ">key_words=#{keyWords},</if>
            <if test="costs !=null and costs!='' ">costs=#{costs},</if>
            <if test="location !=null and location!='' ">location=#{location},</if>
            <if test="company !=null and company!='' ">company=#{company},</if>
            <if test="addStatus !=null and addStatus!='' ">add_status=#{addStatus},</if>
        </set>
        where advertise_id=#{advertiseId}
    </update>

    <!--    //更改已发布的广告的上架状态-->
    <update id="shelvesStatus">
        update advertise set shelves_status = #{shelvesStatus}
        where status=1
    </update>


    <!--    //插入图片或视频-->
    <insert id="inserAdvertisImage">
        insert into advertise_image(advertise_image_id,advertise_id,media_name)
        values (#{advertiseImageId},#{advertiseId},#{uploadNewImage})
    </insert>

    <!--    //根据id查询是否有数据-->
    <select id="exitMedia" resultType="int">
        select count(*) from advertise_image where advertise_id=#{advertiseId}
    </select>

    <!--    //根据id查询出所有图片-->
    <select id="selectAllMedia" resultType="string">
        SELECT media_name from advertise_image where advertise_id=#{advertiseId}
    </select>


</mapper>