<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.orientation.mapper.MobileFollowMapper">

    <sql id="FollowingInfoColumns">
        student_id,username,sex,phone,image,introduction
    </sql>

    <sql id="FollowColumns">
        follow_id,follower_id,following_id,status,create_time
    </sql>

    <!--    //查询用户是否存在-->
    <select id="exitByUser" resultType="int">
        select count(*) from student where student_id=#{account}
    </select>


    <!--    //根据手机号查询出博主个人信息-->
    <select id="getFollowInfo" resultType="com.example.orientation.model.po.Mobile.MobileFollowingInfoPo">
        select <include refid="FollowingInfoColumns"></include> from student
        where phone=#{phone}
    </select>

    <!--    //查询关注表里是否存在关注关系-->
    <select id="exitByFollow" resultType="com.example.orientation.model.po.Mobile.MobileFollowPo">
        select <include refid="FollowColumns"></include> from follow
        where follower_id=#{followerId} and following_id=#{followingId}
    </select>

    <!--    //更改关注状态-->
    <update id="updateFollowStatus">
        update follow set status=#{status}
        where follower_id=#{followerId},following_id=#{followingId}
    </update>

    <!--    //添加关注状态-->
    <insert id="insertFollow">
        insert into follow(<include refid="FollowColumns"></include>) values
        (#{followId},#{followerId},#{followingId},#{status},#{createTime})
    </insert>


    <!--    //根据粉丝id查询出所有关注的博主-->
    <select id="focusAllFollowings" resultType="com.example.orientation.model.po.Mobile.MobileFollowPo">
        select <include refid="FollowColumns"></include> from follow
        where follower_id=#{followerId} and status=1
    </select>

    <!--    //根据博主id查询博主的个人信息-->
    <select id="followingInfoById" resultType="com.example.orientation.model.po.Mobile.FollowInfoPo">
        select <include refid="FollowingInfoColumns"></include> from student
        where student_id=#{followingId}
    </select>

    <!--    //根据博主id查询出所有粉丝-->
    <select id="focusAllFollowers" resultType="com.example.orientation.model.po.Mobile.MobileFollowPo">
        select <include refid="FollowColumns"></include> from follow
        where following_id=#{followingId} and status=1
    </select>


</mapper>