<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.orientation.mapper.MobileRankingMapper">

    <!--    <sql id="RankingsColumns">student_id,username,student_number,image,like_count,ranking,points</sql>-->
    <sql id="RankingsColumns">like_count,ranking,points</sql>
    <sql id="StudentColumns">student_id,username,student_number,image</sql>

    <resultMap id="RankingsMap" type="com.example.orientation.model.po.Mobile.MobileRankingsPo">
        <id property="studentId" column="student_id"></id>
        <result property="username" column="username"></result>
        <result property="studentNumber" column="student_number"></result>
        <result property="imageName" column="image"></result>
        <result property="likeCount" column="like_count"></result>
        <result property="ranking" column="ranking"></result>
        <result property="points" column="points"></result>
    </resultMap>

    <!--    //展示排行榜-->
    <select id="selectRankings" resultMap="RankingsMap">
        select s.<include refid="StudentColumns"></include>,r.<include refid="RankingsColumns"></include>
        from student s join rankings r on s.student_id=r.student_id where s.is_delete!=1 and s.status=1
    </select>
    <!--<select id="selectRankings" resultMap="RankingsMap">&ndash;&gt;-->
    <!--        select <include refid="RankingsColumns"></include> from student where is_delete!=1 and status=1-->
    <!--    </select>-->

    <!--    //增加点赞数-->
    <update id="increaseLikeCount">
        update rankings set like_count=like_count+1 where student_id=#{studentId}
    </update>

    <update id="updatePoints">
        UPDATE rankings
        SET points = #{points} , ranking=#{ranking}
        WHERE student_id = #{studentId}
    </update>

</mapper>